<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schiztech.rovers.example.action" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
             This is the creator activity.
            Icon & label fields will be used on the 'Add Rover' screen
        -->
        <activity
            android:name=".CreateActionActivity"
            android:icon="@drawable/ic_action_roveraction"
            android:label="@string/rovers_action_name"
            android:theme="@android:style/Theme.NoDisplay" >

            <!-- Rovers will identify this activity as a Rovers Action creator by the intent-filter -->
            <intent-filter>
                <action android:name="com.schiztech.rovers.action" />
            </intent-filter>

            <!-- Description will be displayed in the Actions screen on the Rovers app -->
            <meta-data
                android:name="description"
                android:value="@string/rovers_action_desc" />

            <!-- Optional - settings activity if this action
                    NOTICE - make sure that the Settings Activity has android:exported="true"-->
            <meta-data
                android:name="settings_activity"
                android:value="com.schiztech.rovers.example.action.SettingsActivity" />

            <!-- Optional - minimum sdk of this action -->
            <!-- <meta-data -->
            <!-- android:name="min_sdk" -->
            <!-- android:value="15" /> -->


            <!-- Optional - maximum sdk of this action -->
            <!-- <meta-data -->
            <!-- android:name="max_sdk" -->
            <!-- android:value="21" /> -->

        </activity>


        <activity
            android:name=".LaunchedActivity"
            android:exported="true"
            android:label="@string/launched_activity_title" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/settings_activity_title" >
        </activity>
    </application>

</manifest>
